.App {
  text-align: center;
}

.visHolder {
  position: relative;
}

#tooltip {
  position: absolute;
  background-color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  pointer-events: none;
  transition: opacity 0.3s;
}


#title {
  font-size: 24px;
  margin: 20px 0;
}


#x-axis path,
#x-axis line,
#y-axis path,
#y-axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.bar {
  stroke: #000;
  stroke-width: 1px;
}
